<!DOCTYPE html>
<html>
<title>Signup</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'gitistics/style.css' %}">
<body>

<div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="/#home" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    </div>
</div>
      
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">GITISTICS</h1>
</header>
      
<!--TODO--> 
{% if registered %}
<div class="w3-row w3-center w3-dark-grey w3-padding-16"></div>  
  <h1>Thank you for registering!</h1>
</div>
{% else %}
<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <h1>Sign up here:</h1>
</div>   
<div class="w3-row w3-center w3-white w3-padding-16">
  <form method="POST">
    &emsp;<label for="username">Username:</label>
    <input type="text" name="username" placeholder="Username">
    <br><br>
    &emsp;<label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password">
    <br><br>
    &emsp;<label for="email">E-mail:</label>
    <input type="text" name="email" placeholder="E-mail">
</div>
<div class="w3-row w3-center w3-dark-grey w3-padding-16">
    &emsp;<input type="submit" name="" value="Sign up">
</div>
  </form>
{% endif %}
<!--TODO--> 
      
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
    <p>Cloud application development project</p>
</footer>
          
<script src="{% static 'gitistics/script.js' %}" type="text/javascript"></script>
          
</body>
</html>